.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    background-image:image("8.jpg");
    background: linear-gradient(to bottom right,rgb(117, 195, 13) ,rgba(96, 209, 107, 0.46),rgb(155, 222, 185),rgba(63, 176, 84, 0.414),rgb(35, 121, 46));
    
}
.login{
    width: 35%;
    height: 85vh;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   border-color: black;
    border-radius: 10px;
    
    background-size: 100% 100%;
    background: linear-gradient(to bottom right,rgb(117, 195, 13) ,rgba(96, 209, 107, 0.46),rgb(227, 221, 226),rgba(63, 176, 84, 0.414),rgb(35, 121, 46));
    padding-top: 10px;
}
.login input{
   height: 28px;
   
    border-radius: 15px;
    font-size: 22px;
  
}
.login input::placeholder{
    color:rgb(25, 25, 26);
}
.login input:hover{
    color: rgb(147, 147, 20);
    border: 2px solid rgb(221, 11, 186);
   
}
.login button{
   background-color: rgb(43, 118, 54);
   border-radius: 5px;
   font-size: 15px;
}